# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder settings
Icon?
._*

# macOS resource fork files
.Spotlight-V100
.Trashes